footer {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    height: 50px;
    margin: 2rem 0 2rem 0;
    justify-items: center;
    align-items: center;

}

.hgi  {
    color: white;
    font-size: 40px;
    filter: drop-shadow(1px 1px 1px black);
    transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 200ms;
}

@media (max-width:430px){
    footer {
        li:nth-child(1) {
            border: 1px solid red;
        }
    }
}