*{
    padding: 0;
    margin: 0;
    font: inherit;

    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    list-style: none;


}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    font-family: 'Inter', sans-serif;
    
}

h1 {
    color: var(--font-color);
    font-weight: bold;
    
}

body {
    background-color: #777777 ;
    background: rgb(83, 79, 79);
    background: linear-gradient(0deg, rgb(83, 79, 79) 0%, rgba(204,204,204,1) 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}



a {
    text-decoration: none;
    font: inherit;
    color: white;
}

strong {
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
}
