header {
  margin: 0 auto;
  padding: 1rem;

  .logo {
    height: 120px;
    filter: drop-shadow(1px 1px 1px);
  }
  .logo:hover {
    transition: 1ms;
  }
}
@media (max-width: 430px) {
  .logo {
    width: 320px;
    height: 50px;
    object-fit: contain;
    margin: 0 auto;
  }
}
