header {
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;
    padding: 2rem;
    
    .logo {
        height: 150px;
        filter: drop-shadow(1px 1px 1px );
    }
    .logo:hover{
        transition: 1ms;
    }
     
}


