main {
    border: 1px solid #ccc ;
    margin: 0 auto;
    
    h1{
        display: block;
        text-align: center;
        font-size: 4rem;
        border: 1px solid red;
    }
    
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
        
    }
    
}

@media (max-width:380px){
    main {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            border: none;
            

        h1 {
            font-size: 2rem;
            justify-items: center;
            margin-bottom: 1rem;
        }
        
        .content{
            display:grid;
            grid-template-columns: 1fr;
            
        }
        
    }
}