nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  height: 100px;
  margin-bottom: 30px;
}
@media (max-width: 380px) {
  nav {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
