.container {
    max-width: 1280px;
    margin: 0 auto;
    

}

.grid {
    display: grid;
}

.flow-col {
    grid-template-columns: 1fr 1fr;
}

.gap {
    gap: 1rem;
}
.label {
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    

}